@import 'mixin';
@import 'variables';
@import 'reset';

body {
    background: #ffffff;
    color: #000000;
    font-family: $font-light;

    nav {
        background: #101a3c;
        color: #ffffff;
        padding: 8px;
        min-height: 25px;
        max-height: fit-content;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        img {
            width: 84px;
        }

        #nav-button {
            display: none;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: baseline;

            li {
                background: inherit;
                margin: 0 10px;

                a {
                    @include transition(0.3s linear);
                    font-family: $font-bold;
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 20px;
                    opacity: 0.5;

                    &:hover,
                    &:active {
                        @include transition(0.5s ease);
                        opacity: 1;
                    }
                }
            }
        }
    }

    header {
        background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/header-back.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        min-height: 500px;
        max-height: fit-content;
        color: #ffffff;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 30px 10px 30px 10px;

        img {
            @include transition(0.5s ease);
            box-shadow: 10px 10px 20px #222222;
            border-radius: 5px;
            width: 380px;

            &:hover {
                @include transition(0.5s ease);
                @include transform(scale(1.03, 1.03));
                box-shadow: 3px 5px 20px #2a46a2;
                z-index: 999;
                cursor: pointer;
            }
        }

        div {
            background: inherit;
            max-width: 50%;
            min-width: fit-content;
            font-family: $font-bold;

            h1 {
                font-size: 40px;
            }
        }
    }

    main {
        background: #ffffff;
        text-align: center;
        color: #000000;
        margin: 50px 0 0 0;
        padding: 30px;

        .row-flexbox {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;

            .person-info {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                width: 40%;

                img {
                    @include transition(0.5s ease);
                    @include filter(grayscale(0.5));
                    @include transform(scale(1, 1));
                    box-shadow: 10px 10px 20px #222222;
                    border-radius: 500px;
                    width: 40%;
                    margin-bottom: 15px;

                    &:hover {
                        @include transition(0.5s ease);
                        @include filter(grayscale(0));
                        @include transform(scale(1.03, 1.03));
                        box-shadow: 3px 5px 20px #2a46a2;
                        cursor: pointer;
                    }
                }

                h1 {
                    font-family: $font-bold;
                    margin-bottom: 10px;
                }

                .sub {
                    font-family: $font-bold;
                }

                .person-social {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    list-style-type: none;
                    margin-top: 20px;

                    li {
                        margin: 0 5px;

                        a {
                            color: #1a2c65;
                            text-decoration: none;

                            &:hover {
                                color: #0a1129;
                            }
                        }
                    }
                }
            }

            .person-bio {
                font-size: $font-light;
                font-size: 18px;
                text-align: justify;
                width: 50%;
            }
        }
    }

    footer {
        background: #1a2c65;
        border-top: 10px solid #0a1129;
        margin: 50px 0 0 0;
        color: #ffffff;
        padding: 10px;

        .blocks {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: stretch;
            margin: 20px 0 0 0;

            div {
                width: 25%;
                margin: 5px 10px;

                h3 {
                    font-family: $font-bold;
                }

                ul {
                    list-style-type: none;
                    margin: 10px 0 0 0;

                    li {
                        margin: 2px 0;

                        a {
                            @include transition(0.3s linear);
                            border-bottom: 1px solid #1a2c65;
                            text-decoration: none;
                            color: #ffffff;
                            opacity: 0.5;

                            &:hover {
                                @include transition(0.3s linear);
                                border-bottom: 1px solid #ffffff;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .license {
            margin: 40px 0 0 0;
            font-family: $font-light;
            font-size: 14px;
            text-align: center;
            direction: ltr;

            span {
                font-family: $font-medium;
            }
        }
    }
}