@import 'mixin';
@import 'variables';
@import 'reset';

body {
    background: #ffffff;
    color: #000000;
    font-family: $font-light;

    nav {
        background: #101a3c;
        color: #ffffff;
        padding: 8px;
        min-height: 25px;
        max-height: fit-content;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        img {
            width: 84px;
        }

        #nav-button {
            display: none;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: baseline;

            li {
                background: inherit;
                margin: 0 10px;

                a {
                    @include transition(0.3s linear);
                    font-family: $font-bold;
                    text-decoration: none;
                    color: #ffffff;
                    font-size: 20px;
                    opacity: 0.5;

                    &:hover,
                    &:active {
                        @include transition(0.5s ease);
                        opacity: 1;
                    }
                }
            }
        }
    }

    header {
        background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/header-back.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        min-height: 500px;
        max-height: fit-content;
        color: #ffffff;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 30px 10px 30px 10px;

        img {
            @include transition(0.5s ease);
            box-shadow: 10px 10px 20px #222222;
            border-radius: 5px;
            width: 380px;

            &:hover {
                @include transition(0.5s ease);
                @include transform(scale(1.03, 1.03));
                box-shadow: 3px 5px 20px #2a46a2;
                z-index: 999;
                cursor: pointer;
            }
        }

        div {
            background: inherit;
            max-width: 50%;
            min-width: fit-content;
            font-family: $font-bold;

            h1 {
                font-size: 40px;
            }
        }
    }

    main {
        background: #ffffff;
        color: #000000;
        padding: 10px;
        margin: 50px 0 0 0;
        text-align: center;

        h1 {
            font-family: $font-bold;
            font-size: 40px;
        }

        div {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            margin: 20px 0 50px 0;

            img {
                @include transition(0.3s linear);
                @include filter(grayscale(0.7));
                @include transform(scale(1, 1));
                box-shadow: 10px 10px 20px #222222;
                border-radius: 5px;
                width: 45%;
                opacity: 0.8;
                z-index: 1;

                &.from-right:hover {
                    @include transition(0.5s ease);
                    @include filter(grayscale(0));
                    @include transform(scale(1.2,1.2));
                    box-shadow: 3px 5px 20px #2a46a2;
                    cursor: pointer;
                    z-index: 2;
                    opacity: 1;
                    margin-right: 5%;
                }

                &.from-left:hover {
                    @include transition(0.5s ease);
                    @include filter(grayscale(0));
                    @include transform(scale(1.2,1.2));
                    box-shadow: 3px 5px 20px #2a46a2;
                    cursor: pointer;
                    z-index: 2;
                    opacity: 1;
                    margin-left: 5%;
                }
            }
        }
    }

    footer {
        background: #1a2c65;
        border-top: 10px solid #0a1129;
        margin: 50px 0 0 0;
        color: #ffffff;
        padding: 10px;

        .blocks {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: stretch;
            margin: 20px 0 0 0;

            div {
                width: 25%;
                margin: 5px 10px;

                h3 {
                    font-family: $font-bold;
                }

                ul {
                    list-style-type: none;
                    margin: 10px 0 0 0;

                    li {
                        margin: 2px 0;

                        a {
                            @include transition(0.3s linear);
                            border-bottom: 1px solid #1a2c65;
                            text-decoration: none;
                            color: #ffffff;
                            opacity: 0.5;

                            &:hover {
                                @include transition(0.3s linear);
                                border-bottom: 1px solid #ffffff;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .license {
            margin: 40px 0 0 0;
            font-family: $font-light;
            font-size: 14px;
            text-align: center;
            direction: ltr;

            span {
                font-family: $font-medium;
            }
        }
    }

    @media only screen and (max-width: 600px) {

        nav {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: baseline;

            img {
                width: 120px;
            }

            .flexbox-display {
                display: flex;
            }

            #nav-button {
                display: block;
                cursor: pointer;
                margin: 10px 0;
            }

            ul {
                margin-top: 20px;
                display: none;
                flex-flow: column wrap;
                align-items: flex-start;
                justify-content: baseline;
            }
        }

        header {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding: 30px 10px 30px 10px;

            img {
                @include transition(0.5s ease);
                box-shadow: 10px 10px 20px #222222;
                border-radius: 5px;
                width: 280px;

                &:hover {
                    @include transition(0.5s ease);
                    @include transform(scale(1.03, 1.03));
                    box-shadow: 3px 5px 20px #2a46a2;
                    z-index: 999;
                    cursor: pointer;
                }
            }

            div {
                min-width: 90%;
                max-width: 95%;
                font-family: $font-thin;
                margin-top: 25px;
                text-align: center;

                h1 {
                    font-size: 30px;
                    font-family: $font-bold;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        main {
            background: #ffffff;
            color: #000000;
            padding: 10px;
            margin: 50px 0 0 0;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;


            img {
                @include transition(0.5s ease);
                @include filter(grayscale(0.5));
                @include transform(scale(1, 1));
                box-shadow: 10px 10px 20px #222222;
                border-radius: 5px;
                width: 90%;

                &:hover {
                    @include transition(0.5s ease);
                    @include filter(grayscale(0));
                    @include transform(scale(1.03, 1.03));
                    box-shadow: 3px 5px 20px #2a46a2;
                    cursor: pointer;
                }
            }

            div {
                max-width: 90%;
                margin-top: 35px;

                p {
                    text-align: justify;
                    font-size: 18px;
                }
            }
        }

        .services {
            background: #ffffff;
            color: #000000;
            padding: 10px;
            margin: 50px 0 0 0;
            text-align: center;

            .services-items {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                margin: 20px 0 0 0;

                div {
                    @include transition(0.5s ease);
                    background: #152351;
                    border-radius: 15px;
                    text-align: center;
                    padding: 10px;
                    margin: 10px 0;
                    width: 60%;
                    color: #ffffff;

                    h2 {
                        font-family: $font-medium;
                        margin: 20px 0 10px 0;
                    }

                    p {
                        text-align: justify;
                        font-size: 16px;
                        margin: 2px 20px;
                    }

                    &:hover {
                        @include transition(0.3s ease);
                        @include transform(scale(1.03, 1.03));
                        box-shadow: 10px 10px 20px #444444;
                        background: #1a2c65;
                        cursor: pointer;
                    }
                }
            }
        }

        .team {
            background: #ffffff;
            color: #000000;
            padding: 10px;
            margin: 50px 0 0 0;
            text-align: center;

            .team-members {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: stretch;
                margin: 20px 0 0 0;

                .member {
                    @include transition(0.3s linear);
                    box-shadow: 2px 2px 20px #bfbfbf;
                    background: #f2f2f2;
                    border-radius: 5px;
                    color: #1a2c65;
                    text-align: center;
                    width: 40%;
                    margin: 10px;
                    padding: 10px;

                    img {
                        @include transition(0.3s linear);
                        @include filter(grayscale(0.6));
                        border-radius: 5px;
                        height: 200px;
                        max-width: 100%;
                        vertical-align: top;
                        margin: 0 0 10px 0;
                    }

                    h3 {
                        @include transition(0.3s linear);
                        font-family: $font-bold;
                        margin: 0;
                    }

                    p {
                        @include transition(0.3s linear);
                    }

                    &:hover {
                        @include transition(0.3s linear);
                        @include transform(scale(1.02, 1.02));
                        box-shadow: 3px 3px 20px #2a46a2;
                        cursor: pointer;
                        z-index: 9999;

                        img {
                            @include transition(0.3s linear);
                            @include filter(grayscale(0));
                        }
                    }
                }
            }
        }

        .partners {
            background: #ffffff;
            color: #000000;
            padding: 10px;
            margin: 50px 0 0 0;
            text-align: center;

            .partners-intro {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                margin: 20px 0 0 0;

                img {
                    @include transition(0.3s linear);
                    @include filter(grayscale(1));
                    margin: 5px 10px;
                    height: 120px;

                    &:hover {
                        @include transition(0.3s linear);
                        @include filter(grayscale(0));
                        cursor: pointer;
                    }
                }
            }
        }

        footer {
            background: #1a2c65;
            border-top: 10px solid #0a1129;
            margin: 50px 0 0 0;
            color: #ffffff;
            padding: 10px;

            .blocks {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                margin: 20px 0 0 0;

                div {
                    width: 95%;
                    margin: 25px 0 0 0;
                    padding: 5px;
                    border: 1px solid #152351;
                    border-radius: 5px;

                    h3 {
                        font-family: $font-bold;
                    }

                    p {
                        text-align: justify;
                    }

                    ul {
                        list-style-type: none;
                        margin: 10px 0 0 0;

                        li {
                            margin: 2px 0;

                            a {
                                @include transition(0.3s linear);
                                border-bottom: 1px solid #1a2c65;
                                text-decoration: none;
                                color: #ffffff;
                                opacity: 0.5;

                                &:hover {
                                    @include transition(0.3s linear);
                                    border-bottom: 1px solid #ffffff;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }

            .license {
                margin: 40px 0 0 0;
                font-family: $font-light;
                font-size: 14px;
                text-align: center;
                direction: ltr;

                span {
                    font-family: $font-medium;
                }
            }
        }
    }
}